
html{
	background-image: url("indeximage.JPG");
}

nav{
	margin-left: 100px;
	border: solid;
	color: moccasin;
	background-color: skyblue;
}
#TP1{
	margin-right: 20px;
}

#TP2{
	margin-right: 40px;
}

#TP4{
	margin-right: 60px;
}
#TP5{
	margin-right: 80px;
}
#TP6{
	margin-right: 100px;
}
#TP7_1{
	margin-right: 120px;
}