#head1{
	color: white;
	text-align: center;
	border: solid;
	border-color: darkblue;
	background-color: darkblue;
}
#signup{
	text-ali7g: center;
	margin-left: 575px;
	margin-right: 575px;
	background-color: violet;
}

#h21,#h22,#h23{
	text-align: center;
	margin-left: 50x;
}
#p1{

	border: solid;
	border-color: white ;
	text-align: normal;
	margin-left: 50x;

}
#ul1{
	margin-left: 575px;
}