
.entiere{
	color: darkblue;
	width: 300px;
	height: 300px;
	position: relative;
}	
button{
	border-color: violet;
	background-color: violet;
}
#head1{
	margin-left: 250px;
	color: white;
	text-align: center;
	border: solid;
	border-color: darkblue;
	background-color: darkblue;
	top: 50px;
	position: absolute;
}
#signup{
	text-ali7g: center;
	margin-left: 575px;
	margin-right: 575px;
	background-color: violet;
}


.contenu{
	margin-left: 250px;
}